# Streamlit Secrets (Ganz wichtig: Hier liegt dein Turso-Token!)
.streamlit/secrets.toml

# Python Virtual Environment
venv/
.venv/
env/

# Python Cache & Bytecode
__pycache__/
*.py[cod]
*$py.class

# Lokale SQLite Datenbanken (Falls du noch Backups hast)
*.sqlite
*.db

# Betriebssystem-Dateien
.DS_Store
Thumbs.db
